In [1]:
# Add the Pandas dependency.
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\Granger\Desktop\Data Tables_03_Final_Project\CO2.csv')
print(df)

        country_code            area  year_pc  category_code  \
0                  0     Afghanistan     2000              1
1                  0     Afghanistan     2000              3
2                  0     Afghanistan     2000              4
3                  0     Afghanistan     2000              4
4                  0     Afghanistan     2000              4
...              ...             ...      ...            ...
328008           901  Sudan (former)     2011             35
328009           901  Sudan (former)     2011             39
328010           901  Sudan (former)     2011             39
328011           901  Sudan (former)     2011             41
328012           901  Sudan (former)     2011             42

       food_product_categories  production  total_kgs_CO2
0                       Apples    40540.06   5.878309e+04
1                Barley (Beer)    74000.00   1.724200e+05
2             Beef (beef herd)     3090.57   9.315287e+05
3             Beef (beef herd)    22109.43   6.664003e+06
4             Beef (beef herd)   126000.00   3.797766e+07
...                        ...         ...            ...
328008         Root Vegetables   225000.00   3.622500e+05
328009           Sunflower Oil    37008.12   1.874831e+06
328010           Sunflower Oil   124000.00   6.281840e+06
328011                Tomatoes   529200.00   3.974292e+06
328012     Wheat & Rye (Bread)   292000.00   2.090720e+06

[328013 rows x 7 columns]

In [17]:
grouped_df = df.groupby(["country_code", "area", "year_pc", "category_code", "food_product_categories"])
grouped_df.sum()

                                                                           production  \
country_code area           year_pc category_code food_product_categories
0            Afghanistan    2000    1             Apples                     40540.06
                                    3             Barley (Beer)              74000.00
                                    4             Beef (beef herd)          151200.00
                                    6             Beet Sugar                  1000.00
                                    7             Berries & Grapes          400206.33
...                                                                               ...
901          Sudan (former) 2011    34            Rice                       25000.00
                                    35            Root Vegetables           383153.00
                                    39            Sunflower Oil             161008.12
                                    41            Tomatoes                  529200.00
                                    42            Wheat & Rye (Bread)       292000.00

                                                                           total_kgs_CO2
country_code area           year_pc category_code food_product_categories
0            Afghanistan    2000    1             Apples                    5.878309e+04
                                    3             Barley (Beer)             1.724200e+05
                                    4             Beef (beef herd)          4.557319e+07
                                    6             Beet Sugar                5.410000e+03
                                    7             Berries & Grapes          2.449263e+06
...                                                                                  ...
901          Sudan (former) 2011    34            Rice                      8.767500e+05
                                    35            Root Vegetables           6.168763e+05
                                    39            Sunflower Oil             8.156671e+06
                                    41            Tomatoes                  3.974292e+06
                                    42            Wheat & Rye (Bread)       2.090720e+06

[112803 rows x 2 columns]

In [19]:
final_grouped_df = grouped_df.sum()
final_grouped_df.to_csv(r'C:\Users\Granger\Desktop\Data Tables_03_Final_Project\CO2final.csv')