In [10]:
# Clean the CO2 Emission by Countries CSV

In [1]:
import pandas as pd
import os

In [2]:
emissions_data = os.path.join('../Resources/CO2 emission by countries.csv')
emissions_df = pd.read_csv(emissions_data, encoding= 'unicode_escape')
emissions_df

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
0,Afghanistan,AF,93,1750,0.0,41128771.0,652230.0,0.40%,63/km²
1,Afghanistan,AF,93,1751,0.0,41128771.0,652230.0,0.40%,63/km²
2,Afghanistan,AF,93,1752,0.0,41128771.0,652230.0,0.40%,63/km²
3,Afghanistan,AF,93,1753,0.0,41128771.0,652230.0,0.40%,63/km²
4,Afghanistan,AF,93,1754,0.0,41128771.0,652230.0,0.40%,63/km²
...,...,...,...,...,...,...,...,...,...
59615,Zimbabwe,ZW,263,2016,736467042.0,16320537.0,390757.0,0.30%,42/km²
59616,Zimbabwe,ZW,263,2017,746048675.0,16320537.0,390757.0,0.30%,42/km²
59617,Zimbabwe,ZW,263,2018,757903042.0,16320537.0,390757.0,0.30%,42/km²
59618,Zimbabwe,ZW,263,2019,768852126.0,16320537.0,390757.0,0.30%,42/km²
59619,Zimbabwe,ZW,263,2020,779383468.0,16320537.0,390757.0,0.30%,42/km²

In [3]:
emissions_df = emissions_df.drop(['Code', 'Population(2022)', 'Area', '% of World', 'Density(km2)'], axis=1)

In [4]:
emissions_df = emissions_df[emissions_df['Year'] >= 2000]

In [5]:
emissions_df.head()

         Country Calling Code  Year  CO2 emission (Tons)
250  Afghanistan           93  2000           71679740.0
251  Afghanistan           93  2001           72477702.0
252  Afghanistan           93  2002           73529311.0
253  Afghanistan           93  2003           74715262.0
254  Afghanistan           93  2004           75604429.0

In [18]:
emissions_df.to_csv("../Resources/Cleaned/CO2_Emissions_by_Country.csv", index=False, encoding='UTF-8')

In [10]:
# Clean the Food Emissions by Countries CSV

In [6]:
foodemissions_data = os.path.join('../Resources/food emmisions.csv')
foodemissions_df = pd.read_csv(foodemissions_data, encoding= 'unicode_escape')
foodemissions_df.head()

,Food product,Land use change,Animal Feed,Farm,Processing,Transport,Packging,Retail,Total_emissions,Eutrophying emissions per 1000kcal (gPOâeq per 1000kcal),...,Freshwater withdrawals per 100g protein (liters per 100g protein),Freshwater withdrawals per kilogram (liters per kilogram),Greenhouse gas emissions per 1000kcal (kgCOâeq per 1000kcal),Greenhouse gas emissions per 100g protein (kgCOâeq per 100g protein),Land use per 1000kcal (mÂ² per 1000kcal),Land use per kilogram (mÂ² per kilogram),Land use per 100g protein (mÂ² per 100g protein),Scarcity-weighted water use per kilogram (liters per kilogram),Scarcity-weighted water use per 100g protein (liters per 100g protein),Scarcity-weighted water use per 1000kcal (liters per 1000 kilocalories)
0,Wheat & Rye (Bread),0.1,0.0,0.8,0.2,0.1,0.1,0.1,1.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Maize (Meal),0.3,0.0,0.5,0.1,0.1,0.1,0.0,1.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Barley (Beer),0.0,0.0,0.2,0.1,0.0,0.5,0.3,1.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Oatmeal,0.0,0.0,1.4,0.0,0.1,0.1,0.0,1.6,4.281357,...,371.076923,482.4,0.945482,1.907692,2.897446,7.6,5.846154,18786.2,14450.92308,7162.104461
4,Rice,0.0,0.0,3.6,0.1,0.1,0.1,0.1,4.0,9.514379,...,3166.760563,2248.4,1.207271,6.267606,0.759631,2.8,3.943662,49576.3,69825.77465,13449.891480

In [7]:
foodemissions_df = foodemissions_df.drop(['Eutrophying emissions per 1000kcal (gPOâeq per 1000kcal)', 'Eutrophying emissions per 100g protein (gPOâeq per 100 grams protein)', 'Freshwater withdrawals per 100g protein (liters per 100g protein)', 'Freshwater withdrawals per 1000kcal (liters per 1000kcal)',
                                          'Freshwater withdrawals per kilogram (liters per kilogram)', 'Greenhouse gas emissions per 100g protein (kgCOâeq per 100g protein)', 'Greenhouse gas emissions per 1000kcal (kgCOâeq per 1000kcal)',
                                          'Land use per 1000kcal (mÂ² per 1000kcal)', 'Land use per kilogram (mÂ² per kilogram)', 'Land use per 100g protein (mÂ² per 100g protein)',
                                          'Scarcity-weighted water use per kilogram (liters per kilogram)', 'Scarcity-weighted water use per 100g protein (liters per 100g protein)',
                                          'Scarcity-weighted water use per 1000kcal (liters per 1000 kilocalories)'], axis=1)

In [8]:
foodemissions_df

,Food product,Land use change,Animal Feed,Farm,Processing,Transport,Packging,Retail,Total_emissions,Eutrophying emissions per kilogram (gPOâeq per kilogram)
0,Wheat & Rye (Bread),0.1,0.0,0.8,0.2,0.1,0.1,0.1,1.4,NaN
1,Maize (Meal),0.3,0.0,0.5,0.1,0.1,0.1,0.0,1.1,NaN
2,Barley (Beer),0.0,0.0,0.2,0.1,0.0,0.5,0.3,1.1,NaN
3,Oatmeal,0.0,0.0,1.4,0.0,0.1,0.1,0.0,1.6,11.23
4,Rice,0.0,0.0,3.6,0.1,0.1,0.1,0.1,4.0,35.07
5,Potatoes,0.0,0.0,0.2,0.0,0.1,0.0,0.0,0.3,3.48
6,Cassava,0.6,0.0,0.2,0.0,0.1,0.0,0.0,0.9,0.69
7,Cane Sugar,1.2,0.0,0.5,0.0,0.8,0.1,0.0,2.6,16.92
8,Beet Sugar,0.0,0.0,0.5,0.2,0.6,0.1,0.0,1.4,5.41
9,Other Pulses,0.0,0.0,1.1,0.0,0.1,0.4,0.0,1.6,17.08
10,Peas,0.0,0.0,0.7,0.0,0.1,0.0,0.0,0.8,7.52
11,Nuts,-2.1,0.0,2.1,0.0,0.1,0.1,0.0,0.2,19.15
12,Groundnuts,0.4,0.0,1.4,0.4,0.1,0.1,0.0,2.4,14.14
13,Soymilk,0.2,0.0,0.1,0.2,0.1,0.1,0.3,1.0,1.06
14,Tofu,1.0,0.0,0.5,0.8,0.2,0.2,0.3,3.0,NaN
15,Soybean Oil,3.1,0.0,1.5,0.3,0.3,0.8,0.0,6.0,11.69
16,Palm Oil,3.1,0.0,2.1,1.3,0.2,0.9,0.0,7.6,10.67
17,Sunflower Oil,0.1,0.0,2.1,0.2,0.2,0.9,0.0,3.5,50.66
18,Rapeseed Oil,0.2,0.0,2.3,0.2,0.2,0.8,0.0,3.7,19.19
19,Olive Oil,-0.4,0.0,4.3,0.7,0.5,0.9,0.0,6.0,37.26
20,Tomatoes,0.4,0.0,0.7,0.0,0.2,0.1,0.0,1.4,7.51
21,Onions & Leeks,0.0,0.0,0.2,0.0,0.1,0.0,0.0,0.3,3.24
22,Root Vegetables,0.0,0.0,0.2,0.0,0.1,0.0,0.0,0.3,1.61
23,Brassicas,0.0,0.0,0.3,0.0,0.1,0.0,0.0,0.4,5.01
24,Other Vegetables,0.0,0.0,0.2,0.1,0.2,0.0,0.0,0.5,2.27
25,Citrus Fruit,-0.1,0.0,0.3,0.0,0.1,0.0,0.0,0.3,2.24
26,Bananas,0.0,0.0,0.3,0.1,0.3,0.1,0.0,0.8,3.29
27,Apples,0.0,0.0,0.2,0.0,0.1,0.0,0.0,0.3,1.45
28,Berries & Grapes,0.0,0.0,0.7,0.0,0.2,0.2,0.0,1.1,6.12
29,Wine,-0.1,0.0,0.6,0.1,0.1,0.7,0.0,1.4,4.57
30,Other Fruit,0.1,0.0,0.4,0.0,0.2,0.0,0.0,0.7,2.43
31,Coffee,3.7,0.0,10.4,0.6,0.1,1.6,0.1,16.5,110.52
32,Dark Chocolate,14.3,0.0,3.7,0.2,0.1,0.4,0.0,18.7,87.08
33,Beef (beef herd),16.3,1.9,39.4,1.3,0.3,0.2,0.2,59.6,301.41
34,Beef (dairy herd),0.9,2.5,15.7,1.1,0.4,0.3,0.2,21.1,365.29
35,Lamb & Mutton,0.5,2.4,19.5,1.1,0.5,0.3,0.2,24.5,97.13
36,Pig Meat,1.5,2.9,1.7,0.3,0.3,0.3,0.2,7.2,76.38
37,Poultry Meat,2.5,1.8,0.7,0.4,0.3,0.2,0.2,6.1,48.70
38,Milk,0.5,0.2,1.5,0.1,0.1,0.1,0.3,2.8,10.65
39,Cheese,4.5,2.3,13.1,0.7,0.1,0.2,0.3,21.2,98.37
40,Eggs,0.7,2.2,1.3,0.0,0.1,0.2,0.0,4.5,21.76
41,Fish (farmed),0.5,0.8,3.6,0.0,0.1,0.1,0.0,5.1,235.12
42,Shrimps (farmed),0.2,2.5,8.4,0.0,0.2,0.3,0.2,11.8,NaN

In [17]:
foodemissions_df.to_csv("../Resources/Cleaned/Food_Emissions.csv", index=False, encoding='UTF-8')

In [ ]:
# Clean the Production_Crops_Livestock_E_All_Data CSV

In [9]:
production_data = os.path.join('../Resources/Production_Crops_Livestock_E_All_Data.csv')
production_df = pd.read_csv(production_data, encoding= 'unicode_escape')
production_df

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Unit,Y1961,...,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F,Y2020,Y2020F,Y2021,Y2021F
0,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,ha,NaN,...,19793.00,A,20053.00,A,29203.00,A,22134.00,A,21685.00,I
1,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5419,Yield,hg/ha,NaN,...,13788.00,A,17161.00,A,13083.00,A,17759.00,A,18748.00,E
2,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5510,Production,tonnes,NaN,...,27291.00,A,34413.00,A,38205.00,A,39307.00,A,40655.23,I
3,2,'004,Afghanistan,711,'01654,"Anise, badian, coriander, cumin, caraway, fenn...",5312,Area harvested,ha,NaN,...,26160.00,I,25220.00,E,27387.00,I,26255.00,E,26287.00,E
4,2,'004,Afghanistan,711,'01654,"Anise, badian, coriander, cumin, caraway, fenn...",5419,Yield,hg/ha,NaN,...,6970.00,E,7866.00,E,6902.00,E,7409.00,E,7379.00,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79293,5817,'902,Net Food Importing Developing Countries,1729,'F1729,"Treenuts, Total",5419,Yield,hg/ha,6118.0,...,5927.00,E,5338.00,E,5346.00,E,5426.00,E,5515.00,E
79294,5817,'902,Net Food Importing Developing Countries,1729,'F1729,"Treenuts, Total",5510,Production,tonnes,255724.0,...,2299639.12,E,2495666.54,E,2314274.21,E,2479586.92,E,2498539.75,E
79295,5817,'902,Net Food Importing Developing Countries,1735,'F1735,Vegetables Primary,5312,Area harvested,ha,1877800.0,...,7217374.00,E,7429029.00,E,7543355.00,E,7710160.00,E,7978161.00,E
79296,5817,'902,Net Food Importing Developing Countries,1735,'F1735,Vegetables Primary,5419,Yield,hg/ha,66297.0,...,116623.00,E,116194.00,E,117830.00,E,117831.00,E,117360.00,E
79297,5817,'902,Net Food Importing Developing Countries,1735,'F1735,Vegetables Primary,5510,Production,tonnes,12449173.0,...,84171473.81,E,86320503.75,E,88883639.40,E,90849506.59,E,93631442.78,E

In [11]:
production_df = production_df.drop(['Area Code', 'Area Code (M49)', 'Y1961', 'Y1961F', 'Y1962', 'Y1962F', 'Y1963', 'Y1963F', 'Y1964', 'Y1964F', 'Y1965', 'Y1965F',
                                    'Y1966', 'Y1966F', 'Y1967', 'Y1967F', 'Y1968', 'Y1968F', 'Y1969', 'Y1969F', 'Y1970', 'Y1970F', 'Y1971', 'Y1971F', 'Y1972', 'Y1972F',
                                    'Y1973', 'Y1973F', 'Y1974', 'Y1974F', 'Y1975', 'Y1975F', 'Y1976', 'Y1976F', 'Y1977', 'Y1977F', 'Y1978', 'Y1978F', 'Y1979', 'Y1979F',
                                    'Y1980', 'Y1980F', 'Y1981', 'Y1981F', 'Y1982', 'Y1982F','Y1983', 'Y1983F', 'Y1984', 'Y1984F', 'Y1985', 'Y1985F', 'Y1986', 'Y1986F',
                                    'Y1987', 'Y1987F', 'Y1988', 'Y1988F', 'Y1989', 'Y1989F', 'Y1990', 'Y1990F', 'Y1991', 'Y1991F', 'Y1992', 'Y1992F','Y1993', 'Y1993F',
                                    'Y1994', 'Y1994F', 'Y1995', 'Y1995F', 'Y1996', 'Y1996F', 'Y1997', 'Y1997F', 'Y1998', 'Y1998F', 'Y1999', 'Y1999F'], axis=1)

In [14]:
production_df = production_df[production_df['Element Code'] == 5510]

In [15]:
production_df

,Area,Item Code,Item Code (CPC),Item,Element Code,Element,Unit,Y2000,Y2000F,Y2001,...,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F,Y2020,Y2020F,Y2021,Y2021F
2,Afghanistan,221,'01371,"Almonds, in shell",5510,Production,tonnes,1.200000e+04,E,1.500000e+04,...,2.729100e+04,A,3.441300e+04,A,3.820500e+04,A,3.930700e+04,A,4.065523e+04,I
5,Afghanistan,711,'01654,"Anise, badian, coriander, cumin, caraway, fenn...",5510,Production,tonnes,2.500000e+03,E,1.000000e+03,...,1.823412e+04,I,1.983733e+04,I,1.890337e+04,I,1.945350e+04,I,1.939807e+04,E
8,Afghanistan,515,'01341,Apples,5510,Production,tonnes,4.054006e+04,I,3.954174e+04,...,1.704430e+05,A,2.171920e+05,A,2.503240e+05,A,2.708570e+05,A,2.925866e+05,I
11,Afghanistan,526,'01343,Apricots,5510,Production,tonnes,4.284030e+04,I,3.800000e+04,...,1.318160e+05,A,1.090860e+05,A,1.293630e+05,A,1.317880e+05,A,1.136597e+05,I
15,Afghanistan,44,'0115,Barley,5510,Production,tonnes,7.400000e+04,A,8.700000e+04,...,9.499500e+04,A,5.678100e+04,A,1.235760e+05,A,1.277570e+05,A,1.226928e+05,I
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79285,Net Food Importing Developing Countries,1807,'F1807,Sheep and Goat Meat,5510,Production,tonnes,2.422180e+06,E,2.460146e+06,...,3.670023e+06,E,3.731396e+06,E,3.887529e+06,E,4.140439e+06,E,4.078529e+06,E
79288,Net Food Importing Developing Countries,1809,'F1809,"Skim Milk & Buttermilk, Dry",5510,Production,tonnes,6.140000e+03,E,3.698000e+03,...,4.498200e+04,E,5.912100e+04,E,6.020500e+04,E,6.154000e+04,E,NaN,NaN
79291,Net Food Importing Developing Countries,1723,'F1723,Sugar Crops Primary,5510,Production,tonnes,1.940748e+08,E,1.898132e+08,...,2.433452e+08,E,2.229805e+08,E,2.275054e+08,E,2.364157e+08,E,2.440630e+08,E
79294,Net Food Importing Developing Countries,1729,'F1729,"Treenuts, Total",5510,Production,tonnes,7.828596e+05,E,8.446575e+05,...,2.299639e+06,E,2.495667e+06,E,2.314274e+06,E,2.479587e+06,E,2.498540e+06,E
79297,Net Food Importing Developing Countries,1735,'F1735,Vegetables Primary,5510,Production,tonnes,5.116258e+07,E,5.146439e+07,...,8.417147e+07,E,8.632050e+07,E,8.888364e+07,E,9.084951e+07,E,9.363144e+07,E

In [16]:
production_df.to_csv("../Resources/Cleaned/Production_Crops_Data.csv", index=False, encoding='UTF-8')

In [ ]:
# Clean World Population CSV

In [13]:
import pandas as pd
import os
import numpy as np

In [14]:
population_data = os.path.join('../Resources/World Population Data 2000-2021.csv')
population_df = pd.read_csv(population_data, encoding= 'unicode_escape')
population_df

,Series Name,Series Code,Country Name,Country Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,"Population, total",SP.POP.TOTL,Afghanistan,AFG,19542982,19688632,21000256,22645130,23553551,24411191,...,30466479,31541209,32716210,33753499,34636207,35643418,36686784,37769499,38972230,40099462
1,"Population, total",SP.POP.TOTL,Albania,ALB,3089027,3060173,3051010,3039616,3026939,3011487,...,2900401,2895092,2889104,2880703,2876101,2873457,2866376,2854191,2837849,2811666
2,"Population, total",SP.POP.TOTL,Algeria,DZA,30774621,31200985,31624696,32055883,32510186,32956690,...,37260563,38000626,38760168,39543154,40339329,41136546,41927007,42705368,43451666,44177969
3,"Population, total",SP.POP.TOTL,American Samoa,ASM,58230,58324,58177,57941,57626,57254,...,53691,52995,52217,51368,50448,49463,48424,47321,46189,45035
4,"Population, total",SP.POP.TOTL,Andorra,AND,66097,67820,70849,73907,76933,79826,...,71013,71367,71621,71746,72540,73837,75013,76343,77700,79034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,Last Updated: 03/01/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
population_df = population_df.drop(['Series Name', 'Series Code', 'Country Code'], axis=1)

In [20]:
population_df.dropna(inplace=True)

In [21]:
population_df.dtypes

Country Name     object
2000 [YR2000]    object
2001 [YR2001]    object
2002 [YR2002]    object
2003 [YR2003]    object
2004 [YR2004]    object
2005 [YR2005]    object
2006 [YR2006]    object
2007 [YR2007]    object
2008 [YR2008]    object
2009 [YR2009]    object
2010 [YR2010]    object
2011 [YR2011]    object
2012 [YR2012]    object
2013 [YR2013]    object
2014 [YR2014]    object
2015 [YR2015]    object
2016 [YR2016]    object
2017 [YR2017]    object
2018 [YR2018]    object
2019 [YR2019]    object
2020 [YR2020]    object
2021 [YR2021]    object
dtype: object

In [25]:
population_df.rename(columns={'2000 [YR2000]': '2000', '2001 [YR2001]': '2001', '2002 [YR2002]': '2002',
       '2003 [YR2003]': '2003', '2004 [YR2004]': '2004', '2005 [YR2005]': '2005', '2006 [YR2006]': '2006',
       '2007 [YR2007]': '2007', '2008 [YR2008]': '2008', '2009 [YR2009]': '2009', '2010 [YR2010]': '2010',
       '2011 [YR2011]': '2011', '2012 [YR2012]': '2012', '2013 [YR2013]': '2013', '2014 [YR2014]': '2014',
       '2015 [YR2015]': '2015', '2016 [YR2016]': '2016', '2017 [YR2017]': '2017', '2018 [YR2018]': '2018',
       '2019 [YR2019]': '2019', '2020 [YR2020]': '2020', '2021 [YR2021]': '2021'}, inplace=True)

In [26]:
population_df

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,19542982,19688632,21000256,22645130,23553551,24411191,25442944,25903301,26427199,...,30466479,31541209,32716210,33753499,34636207,35643418,36686784,37769499,38972230,40099462
1,Albania,3089027,3060173,3051010,3039616,3026939,3011487,2992547,2970017,2947314,...,2900401,2895092,2889104,2880703,2876101,2873457,2866376,2854191,2837849,2811666
2,Algeria,30774621,31200985,31624696,32055883,32510186,32956690,33435080,33983827,34569592,...,37260563,38000626,38760168,39543154,40339329,41136546,41927007,42705368,43451666,44177969
3,American Samoa,58230,58324,58177,57941,57626,57254,56837,56383,55891,...,53691,52995,52217,51368,50448,49463,48424,47321,46189,45035
4,Andorra,66097,67820,70849,73907,76933,79826,80221,78168,76055,...,71013,71367,71621,71746,72540,73837,75013,76343,77700,79034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Sub-Saharan Africa,671212486,689161982,707693440,726785433,746546802,766978666,788110000,810019264,832642735,...,929328653,955096428,981506334,1008698525,1036155715,1063885000,1092403699,1121548775,1151301807,1181162739
262,Sub-Saharan Africa (excluding high income),671131355,689080780,707609717,726702652,746464327,766895808,788025400,809934231,832555779,...,929240350,955006479,981414975,1008605106,1036061038,1063789157,1092306937,1121451150,1151203345,1181063481
263,Sub-Saharan Africa (IDA & IBRD countries),671212486,689161982,707693440,726785433,746546802,766978666,788110000,810019264,832642735,...,929328653,955096428,981506334,1008698525,1036155715,1063885000,1092403699,1121548775,1151301807,1181162739
264,Upper middle income,2158201213,2176410449,2193797571,2210557257,2227039419,2243536298,2259259920,2274211146,2289934559,...,2357942787,2378263733,2398563632,2417959696,2436043943,2453799496,2469801107,2483924063,2495285443,2503136362
265,World,6144322697,6226339538,6308092739,6389383352,6470821068,6552571570,6634935638,6717641730,6801408360,...,7140895722,7229184551,7317508753,7404910892,7491934113,7578157615,7661776338,7742681934,7820981524,7888408686

In [28]:
population_df.to_csv("../Resources/Cleaned/World_Population_Data_2000-2021.csv", index=False, encoding='UTF-8')