## Read in the CO2_AG Data

In [6]:
# import libraries
import pandas as pd
import os

In [7]:
# import and read dataset (train data) from csv file
# file_path = "Resources/train.csv"
file_path = os.path.join("..", "Resources", "ML_Table.csv")

df_ML_Table = pd.read_csv(file_path)

In [8]:
# check table
df_ML_Table.head()

,country_code,area,year_pc,CO2_emissions_tonnes,Continent,Population,category_code_1,food_product_categories_1,production_tonnes_1,total_kgs_CO2_1,...,production_tonnes_41,total_kgs_CO2_41,category_code_42,food_product_categories_42,production_tonnes_42,total_kgs_CO2_42,category_code_43,food_product_categories_43,production_tonnes_43,total_kgs_CO2_43
0,0,Afghanistan,2000,71679740.0,Asia,19542982,1,Apples,40540.06,58783.0870,...,0.0,0.0,42,Wheat & Rye (Bread),1470000.0,10518040.0,43,Wine,0.0,0.0
1,0,Afghanistan,2001,72477702.0,Asia,19688632,1,Apples,39541.74,57335.5230,...,0.0,0.0,42,Wheat & Rye (Bread),1600000.0,11434520.0,43,Wine,0.0,0.0
2,0,Afghanistan,2002,73529311.0,Asia,21000256,1,Apples,35630.08,51663.6160,...,0.0,0.0,42,Wheat & Rye (Bread),2690000.0,19231760.0,43,Wine,0.0,0.0
3,0,Afghanistan,2003,74715262.0,Asia,22645130,1,Apples,28042.99,40662.3355,...,0.0,0.0,42,Wheat & Rye (Bread),3480000.0,24916800.0,43,Wine,0.0,0.0
4,0,Afghanistan,2004,75604429.0,Asia,23553551,1,Apples,16691.83,24203.1535,...,0.0,0.0,42,Wheat & Rye (Bread),2390000.0,17112400.0,43,Wine,0.0,0.0

In [9]:
df_ML_Table.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4201 entries, 0 to 4200
Data columns (total 162 columns):
 #    Column                      Dtype
---   ------                      -----
 0    country_code                int64
 1    area                        object
 2    year_pc                     int64
 3    CO2_emissions_tonnes        float64
 4    Continent                   object
 5    Population                  int64
 6    category_code_1             int64
 7    food_product_categories_1   object
 8    production_tonnes_1         float64
 9    total_kgs_CO2_1             float64
 10   category_code_2             int64
 11   food_product_categories_2   object
 12   production_tonnes_2         float64
 13   total_kgs_CO2_2             float64
 14   category_code_3             int64
 15   food_product_categories_3   object
 16   production_tonnes_3         float64
 17   total_kgs_CO2_3             float64
 18   category_code_4             int64
 19   food_product_categories_4   object
 20   production_tonnes_4         float64
 21   total_kgs_CO2_4             float64
 22   category_code_6             int64
 23   food_product_categories_6   object
 24   production_tonnes_6         float64
 25   total_kgs_CO2_6             float64
 26   category_code_7             int64
 27   food_product_categories_7   object
 28   production_tonnes_7         float64
 29   total_kgs_CO2_              float64
 30   category_code_8             int64
 31   food_product_categories_8   object
 32   production_tonnes_8         float64
 33   total_kgs_CO2_8             float64
 34   category_code_9             int64
 35   food_product_categories_9   object
 36   production_tonnes_9         float64
 37   total_kgs_CO2_9             float64
 38   category_code_10            int64
 39   food_product_categories_10  object
 40   production_tonnes_10        float64
 41   total_kgs_CO2_10            float64
 42   category_code_11            int64
 43   food_product_categories_11  object
 44   production_tonnes_11        float64
 45   total_kgs_CO2_11            float64
 46   category_code_12            int64
 47   food_product_categories_12  object
 48   production_tonnes_12        float64
 49   total_kgs_CO2_12            float64
 50   category_code_13            int64
 51   food_product_categories_13  object
 52   production_tonnes_13        float64
 53   total_kgs_CO2_13            float64
 54   category_code_14            int64
 55   food_product_categories_14  object
 56   production_tonnes_14        float64
 57   total_kgs_CO2_14            float64
 58   category_code_15            int64
 59   food_product_categories_15  object
 60   production_tonnes_15        float64
 61   total_kgs_CO2_15            float64
 62   category_code_17            int64
 63   food_product_categories_17  object
 64   production_tonnes_17        float64
 65   total_kgs_CO2_17            float64
 66   category_code_18            int64
 67   food_product_categories_18  object
 68   production_tonnes_18        float64
 69   total_kgs_CO2_18            float64
 70   category_code_19            int64
 71   food_product_categories_19  object
 72   production_tonnes_19        float64
 73   total_kgs_CO2_19            float64
 74   category_code_20            int64
 75   food_product_categories_20  object
 76   production_tonnes_20        float64
 77   total_kgs_CO2_20            float64
 78   category_code_21            int64
 79   food_product_categories_21  object
 80   production_tonnes_21        float64
 81   total_kgs_CO2_21            float64
 82   category_code_22            int64
 83   food_product_categories_22  object
 84   production_tonnes_22        float64
 85   total_kgs_CO2_22            float64
 86   category_code_23            int64
 87   food_product_categories_23  object
 88   production_tonnes_23        float64
 89   total_kgs_CO2_23            float64
 90   category_code_24            int64
 91   food_product_categories_24  object
 92   production_tonnes_24        float64
 93   total_kgs_CO2_24            float64
 94   category_code_25            int64
 95   food_product_categories_25  object
 96   production_tonnes_25        float64
 97   total_kgs_CO2_25            float64
 98   category_code_26            int64
 99   food_product_categories_26  object
 100  production_tonnes_26        float64
 101  total_kgs_CO2_26            float64
 102  category_code_27            int64
 103  food_product_categories_27  object
 104  production_tonnes_27        float64
 105  total_kgs_CO2_27            float64
 106  category_code_28            int64
 107  food_product_categories_28  object
 108  production_tonnes_28        float64
 109  total_kgs_CO2_28            float64
 110  category_code_29            int64
 111  food_product_categories_29  object
 112  production_tonnes_29        float64
 113  total_kgs_CO2_29            float64
 114  category_code_30            int64
 115  food_product_categories_30  object
 116  production_tonnes_30        float64
 117  total_kgs_CO2_30            float64
 118  category_code_31            int64
 119  food_product_categories_31  object
 120  production_tonnes_31        float64
 121  total_kgs_CO2_31            float64
 122  category_code_32            int64
 123  food_product_categories_32  object
 124  production_tonnes_32        float64
 125  total_kgs_CO2_32            float64
 126  category_code_33            int64
 127  food_product_categories_33  object
 128  production_tonnes_33        float64
 129  total_kgs_CO_33             float64
 130  category_code_34            int64
 131  food_product_categories_34  object
 132  production_tonnes_34        float64
 133  total_kgs_CO2_34            float64
 134  category_code_35            int64
 135  food_product_categories_35  object
 136  production_tonnes_35        float64
 137  total_kgs_CO2_35            float64
 138  category_code_37            int64
 139  food_product_categories_37  object
 140  production_tonnes_37        float64
 141  total_kgs_CO2_37            float64
 142  category_code_39            int64
 143  food_product_categories_39  object
 144  production_tonnes_39        float64
 145  total_kgs_CO2_39            float64
 146  category_code_40            int64
 147  food_product_categories_40  object
 148  production_tonnes_40        float64
 149  total_kgs_CO2_40            float64
 150  category_code_41            int64
 151  food_product_categories_41  object
 152  production_tonnes_41        float64
 153  total_kgs_CO2_41            float64
 154  category_code_42            int64
 155  food_product_categories_42  object
 156  production_tonnes_42        float64
 157  total_kgs_CO2_42            float64
 158  category_code_43            int64
 159  food_product_categories_43  object
 160  production_tonnes_43        float64
 161  total_kgs_CO2_43            float64
dtypes: float64(79), int64(42), object(41)
memory usage: 5.2+ MB

# Connecting Pandas and SQL

In [22]:
# import modules
from sqlalchemy import create_engine
import psycopg2
from config import db_password

In [25]:
# Create the Database Engine
db_string = f"postgresql+psycopg2://root:{db_password}@team3db.c73sat5jyvqd.us-east-1.rds.amazonaws.com/CO2_AG"

engine = create_engine(db_string)
# pip install psycopg2-binary to access module named 'psycopg2'

### Export Data to Postgres

In [26]:
# save the movies_df DataFrame to a SQL table
df_ML_Table.to_sql(name='ml_table', con=engine)